:root {
    --body-background: #303035;
    --font-color: #fff;
    --body-background-lighter: #404045;
    --body-background-darker: #202025;
}

::-webkit-scrollbar {
    width: 7px;
    -webkit-appearance: none;

    background: var(--body-background-darker);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(rgba(255, 17, 17) 0%,
            rgb(255, 167, 35) 10%,
            rgb(213, 224, 54) 20%,
            rgb(86, 214, 81) 30%,
            rgba(63, 218, 216, 1) 40%,
            rgb(58, 202, 224) 50%,
            rgb(44, 134, 238) 60%,
            rgb(108, 46, 233) 70%,
            rgb(189, 42, 243) 80%,
            rgb(250, 55, 224) 90%,
            rgb(255, 20, 20) 100%);
    border: 1px var(--body-background-darker) solid;
    border-radius: 30px;

}

::-webkit-scrollbar:horizontal {
    height: 5px;
    background: transparent;
}

::-webkit-scrollbar-track {
    background: var(--body-background-darker);
}

h1,
h2,
h3,
h4,
p,
a {
    font-family: "Jost";
}

html {
    color: var(--font-color);
    caret-color: transparent;
}

body {
    background-color: var(--body-background);
    transition: background-color 0.5s ease;
}

input,
.btn-submit {
    padding: .6rem 1.2rem;
    border-radius: 3px;
    border: 1px solid var(--body-background-darker);
    background: var(--body-background-lighter);
    font-family: inherit;
    font-size: inherit;
    color: var(--font-colour);
}

footer {
    margin: 15px;
}

a {
    text-decoration: none;
    color: var(--font-color);
}

.link-like-button {
    cursor: pointer;
    border: none;
    background: transparent;
    color: var(--font-color);
}