:root {
    --body-background: #303035;
    --font-color: #fff;
    --body-background-lighter: #404045;
    --body-background-darker: #202025;
    --theme-color: #add8e6;
}

::-webkit-scrollbar {
    width: 14px;
    -webkit-appearance: none;

    background: var(--body-background-darker);
}

::-webkit-scrollbar-thumb {
    background: var(--theme-color);
    border: 5.5px solid var(--body-background-darker);
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
    border: 4px solid var(--body-background-darker);
}

::-webkit-scrollbar:horizontal {
    height: 14px;
    background: transparent;
}

::-webkit-scrollbar-thumb:horizonta {
    background: var(--theme-color);
    border: 3px solid var(--body-background-darker);
    border-radius: 30px;
}

::-webkit-scrollbar-corner{
   background: var(--body-background-darker); 
}

::-webkit-scrollbar-track {
    background: var(--body-background-darker);
}

h1,
h2,
h3,
h4,
p,
a {
    font-family: "Jost";
}

svg {
    vertical-align: middle;
}

html {
    color: var(--font-color);
    caret-color: transparent;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

body {
    background-color: var(--body-background);
    transition: background-color 0.5s ease;
}

input,
.btn-submit {
    padding: .6rem 1.2rem;
    border-radius: 3px;
    border: 1px solid var(--body-background-darker);
    background: var(--body-background-lighter);
    font-family: inherit;
    font-size: inherit;
    color: var(--font-colour);
}

.btn-submit {
    cursor: pointer;
}

footer {
    margin: 15px;
}

a {
    text-decoration: none;
    color: var(--font-color);
}

.link-like-button {
    cursor: pointer;
    border: none;
    background: transparent;
    color: var(--font-color);
    padding: 0;
    font-size: 1em;
}

/* ==================== Utility Classes ==================== */
.popout {
    animation: popout 200ms ease-in-out;
}

.popin {
    animation: popin 200ms ease-in-out;
}

@keyframes popout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(1.2);
    }
}

@keyframes popin {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
    }
}