#main_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4rem 0;
    padding: 0 3rem;
}

.social_links-icon {
    --linkc: var(--font-colour);
    margin-right: 5px;
    font-size: 150%;
}