.page-switcher {
    display: grid;
    grid-template-columns: 1fr 0.3fr 1fr;
    grid-template-rows: 1fr;
    /* grid-auto-columns: 1fr; */
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . .";
      padding: 20px;
}

.previous-container {
    margin-left: auto;
    margin-right: 0;
}

.page-numbers {
    font-family: Jost;
    text-align: center;
}

.page-button {
    transition: 300ms;
    cursor: pointer;
}
.page-button:hover {
    color: lightblue;
}